body{
background:#0b0c10;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

header{
padding:40px;
}

nav a{
margin:15px;
color:#00eaff;
text-decoration:none;
font-size:18px;
}

nav a:hover{
color:white;
}

section{
padding:50px;
}

ul{
list-style:none;
padding:0;
}

.accordion{
background:#1f2833;
color:white;
cursor:pointer;
padding:15px;
width:60%;
border:none;
margin-top:10px;
border-radius:8px;
font-size:18px;
}

.accordion:hover{
background:#00eaff;
color:black;
}

.panel{
display:none;
background:#111;
padding:20px;
width:60%;
margin:auto;
border-radius:8px;
}

.detail{
display:none;
max-width:700px;
margin:40px auto;
background:#1a1f3a;
padding:30px;
border-radius:15px;
}

.cp{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
color:white;
}

.cp img{
width:25px;
}
